{% extends 'base.html' %}
{% block content %}
        <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4 text-center">
            <br/><br/>
            <img src="/static/bit-lee.png" width="100"/>

            <div class="form-group">
                <form action="/" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your long url"
                               name="url">
                               <br/>
                        
                        <input type="text" {% if 'logged_in' not in session %} disabled {% endif %}class="form-control" placeholder="password protected url (must be logged in)"
                        name="password">
                        <br/>
                            

                        <button type="submit"
                                class="btn btn-primary btn-block">
                                
                                <strong>Ask Bruce Lee to punch and shorten</strong>
                        </button>
                    </div>
                </form>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}

                    <div class="alert alert-dark" role="alert">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                     {% endfor %}                    
                    </div>
                    {% endif %}
                {% endwith %}

                {% if shortified_url_code %}
                <br/>
                <div class="card card-body bg-light">
                    <span class="text-muted"><a href="http://127.0.0.1:5000/{{shortified_url_code}}" target="_blank">bitlee.me/{{shortified_url_code}}</a></span>
                </div>
                <br/>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">

        </div>

    </div>
    {% endblock %}



