{% extends "index.html" %}

{% block content%}
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">Long URL</th>
        <th scope="col">Short URL</th>
        <th scope="col">Views</th>
        <th scope="col">Count</th>
        <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>

    </tr>
    <tr>
      <th scope="row">2</th>

    </tr>
    <tr>
      <th scope="row">3</th>
        
    </tr>
  </tbody>
</table>


{% endblock %}